<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="UTF-8">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <title>Apple Passkey Demo with Hanko Authentication API</title>
</head>
<body>
<div class="backgroundWrapper" role="presentation">
    <img src="/assets/images/backgrounds/gradient2.png" class="backgroundImage" alt="abstract gradient background" />
</div>
<div id="main" class="container">
    <div class="row">
        <div class="col-sm">
            <form class="form" onsubmit="do_auth(event);">
                <h3 class="text-center mb-4">Welcome</h3>
                <figure class="avatar">
                    <img src="/assets/images/avatars/avatar3.png" class="avatarImage" alt="3d rendered random avatar of a person" />
                </figure>
                <div class="alertBox alertBox--hidden">
                    <p class="alertMessage">Something went wrong</p>
                </div>        
                <button type="submit" class="btn btn-danger btn-md mb-4 hanko-button">Sign in</button>
                <p class="text-center">Don't have an account? <a href="/register">Register here!</a></p>
            </form>
        </div>
    </div>
</div>
<div class="loading loading--active">
    <div class="loadingWrapper">
      <div class="loadingDot" />
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@teamhanko/hanko-webauthn@latest/dist/browser-global/hanko-webauthn.browser-global.js"></script>
<script type="application/javascript" src="/assets/ui.js"></script>
<script type="application/javascript" src="/assets/app.js"></script>
</body>
</html>